html {
    scroll-behavior: smooth;
  }
  
body {
    background-color: azure;
    margin: 0;
}

/* typography */
h1 {
    color:blueviolet;
    font-size: 60px;
}

p {
    font-size: 18px;
    color: darkgoldenrod;
}

.button-link {
    border-style: solid;
    border-color: crimson;
    background-color: cornsilk;
    border-width: 2px;
    text-decoration: none;
    color: black;
    padding: 4px;
    border-radius: 10px;
    display: block;
    width: 150px;
    text-align: center;
    margin-top: 20px;
}

nav {
    padding: 20px;
}

.nav-links {
    list-style-type: none;
    width: 200px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.nav-links li {
    display: inline;
}

.nav-links li a {
    padding-left: 10px;
    padding-right: 10px;
}

.top-banner {
    height: 240px;
    text-align: center;
    padding-top: 110px;
    background-color: cornflowerblue;
}

.main-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}

footer {
    height: 100px;
    padding: 10px 0;
    background-color: grey;
}